<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ListenPort" value="3999"/>
		<add key="Plugins" value="Greeter|UserManager|UserChat|CryptManager"/>
		<add key="dbServer" value="127.0.0.1"/>
		<add key="dbDB" value="irisim"/>
		<add key="dbUser" value="irisim"/>
		<add key="dbPassword" value="password"/>
		<add key="AutoRegister" value="yes"/>
	</appSettings>
</configuration>